<div>
  <h1 class="font-bold text-4xl">Contact us here ...</h1><hr/>
  <p>Do you have anything about our product that you want off your chest?
    Brace yourself, for your in the right page ... stick around longer though!</p>
</div>
