
<div>
    <h1><%= @note.title %></h1>
</div>

<div><%= @note.body %></div>
<div>
    <% if current_user %>
        <%= link_to "Edit Note", edit_note_path(@note) %>
        <%= link_to "Delete Note", note_path(@note), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        }%>
    <% end %>
</div>
